#nlp {
    position:relative;
    float: right;
    top: 0;
    right: 0;
    overflow: hidden;
    margin-top: 30px;
  }

#apropos {
  overflow: hidden;
}

hr {
  width: 90%;
  margin-left: 3%;
  margin-right: auto;
  height: 6px;
  background-color:#5885FB;
}

#description {
  width:90%
}

#realisedby {
  overflow: hidden;
}

#contact {
  margin-top: 0;
}
#technologies {
  overflow: hidden;
}

#encadrants {
  overflow: hidden;
}

.logo {
  width: 23%;
  height: 23%;
  margin-right: 7%;
}