#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #5885FB;
}

.navbar_logo img {
    width: 11%;
    height: 11%;
    margin-right: 6%;
}

.navbar_logo {
    font-family: 'Pacifico';
    font-size: 250%;
    color: #fff;
}

.navbar_menu {
    display: flex;
    flex-direction: row;
    padding-left: 25%;
}

.navbar_links {
    flex: 1;
    display: flex;
    align-items: center;
}

.menu_div {
    width: 220px;
}

.navbar_menu p a {
    display: inline;
    color: #fff;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 120%;
    text-transform: capitalize;
    cursor: pointer;
    text-decoration: none;
}

