.form {
    display: row;
}

.input_text {
    display: block;
    margin: auto;
    width: 50%;
    height: 150px;
    margin-top: 6%;
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    overflow-y:hidden;
    resize: none;

}

._textarea {
    margin-top: 3px;
    padding: 2%;
    width: 95%;
    resize: none;
    border: none;
    height: 130px;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-family: 'Didact Gothic';
    font-size: 19px;
    color: rgba(0, 0, 0, 0.543);
    text-align: center;
}

#import_btn {
    /* margin: auto;
    display: block; */
    margin-right: 2%;
    width: 200px;
    height: 50px;
    /* background: #F4C20D; */
    /* Blue */
    /* background: #00bcd4; */
    background: #0288d1;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    border: none;
    font-family: 'Didact Gothic';
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    color: #FFFFFF;
}

#analyser_btn {
    margin: auto;
    width: 250px;
    height: 40px;
}

#eval_btn {
    margin: auto;
    width: 200px;
    height: 40px;
    background: #1565c0;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    border: none;
    font-family: 'Didact Gothic';
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    color: #FFFFFF;
}

.eval_anal {
    display: flex;
    margin-top: 8%;
    margin-right: -4%;
    margin-left: -4%
}

#evalSection {
    display: flex;
    justify-content: center;
    margin-top: 3.5%;
}

.card1 {
    display: flex;
    width: 65%;
}

.cards-key {
    width: 20%;
    height: 130px;
    padding: 1%;
    margin-left: 10%;
    background-color: #E4ECFF;
    border-radius: 3%;
    box-shadow: 0.5px 0.5px 2px 0;
}

#scoreCard {
    margin-left: 10px;
    width: 100%;
}

.file-inputs {
    display: flex;
    justify-content: center;
    width: 100%;
}

#firstSection {
    position: absolute;
    display: block;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100px;
    margin-bottom: 10px;
    overflow: hidden;
}

#secondSection {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 85px;
    margin-top: 3%;
    overflow: hidden;
}

#subSection {
    height: 100%;
}

/* #divider {
    width: 75%;
    margin: 0 133px;
}

#hr {
    margin-left: 3%;
    margin-right: auto;
    height: 2px;
    background-color:#5885FB;
    overflow: hidden;

  } */