.form {
    display: row;
}

.input_text {
    display: block;
    margin: auto;
    width: 50%;
    height: 150px;
    margin-top: 5%;
    background: #FFFFFF;
    border: 3px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    overflow-y: hidden;
    resize: none;

}

._textarea {
    margin-top: 3px;
    width: 95%;
    resize: none;
    border: none;
    height: 130px;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-family: 'Didact Gothic';
    font-size: 19px;
    color: rgba(0, 0, 0, 0.35);
    text-align: center;
}

#import_btn {
    margin: auto;
    display: block;
    width: 200px;
    height: 60px;
    background: #F4C20D;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    border: none;
    font-family: 'Didact Gothic';
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    color: #FFFFFF;
}

#analyser_btn {
    margin: auto;
    width: 250px;
    height: 60px;
}

#eval_btn {
    margin: auto;
    width: 200px;
    height: 60px;
    background: #1565c0;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    border: none;
    font-family: 'Didact Gothic';
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    color: #FFFFFF;
}

.eval_anal {
    display: flex;
    margin-top: 4%;
}

.result {
    display: flex;
    justify-content: center;
    width: 20%;
    margin-left: 10%;
    
}

#evalSection {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.card1 {
    display: flex;
    width: 30%;
}

.cards-key {
    width: 50%;
    margin-left: 10%;
}